.form-row{
  display: flex;
  flex-direction: column;

}
.btn-primary:disabled {
  //background: grey;
  //border: none;
  //opacity: .3;
  //cursor: none;
  display: none;
}
.form-wrapper {
  background: #ececec;
}
