<app-section
  [Title]="'Friends in deed'"
  [Para1]="
    'Our flagship project ‘Friend-in-deed ‘, is fully funded by the National lottery and that enables us to provide our services free of charge.'
  "
  [Para2]="
    '‘Friend-in-deed’ is a befriending project , aimed at promoting social inclusion for people who might feel socially isolated . We cater for anyone , from victims of domestic violence, refugees, asylum seekers, to people people on low income and also people who have been isolated due to effects of COVID 19.
    '
  "
  [cta]="'Discover more!'"
  [hasExtraContent]="true"
  [hasTitle]="true"
  [hasHeroImg]="true"
  [isMobile]="true"
  class="friend-in-deed"
></app-section>
<app-section
  [Title]="'How we do it'"
  [Para1]="
    'We will offer 6 sessions of one on one support. This can be either via telephone, zoom, e-mails, WhatsApp, or text. We would consider face to face contact when current COVID-19 restrictions are uplifted. There will be an opportunity to work in collaboration with other relevant organisations.'
  "
  [Para2]="
    'After 6 sessions, there is an option for our beneficiaries to consider joining our group sessions on offer. The group sessions will have a range of activities such as yoga, Afro / Caribbean inspired Zumba and many more. The best part is our services are all delivered 100% FREE OF CHARGE . '
  "
  [cta]="'Discover more!'"
  [hasCTA]="true"
  [ctaURL]="'/group-work'"
  [hasExtraContent]="true"
  [hasTitle]="true"
  [isMobile]="true"
  class="method"
></app-section>

<app-section
  [Title]="'Why not help out'"
  [Para1]="
    'Do you have a passion for helping out others and need to put it to good use. At Family4Sure we could put your interests and talents to good use and train you to become a fully fledged volunteer in our growing organisation'
  "
  [cta]="'Find out more!'"
  [ctaURL]="'/volunteers'"
  [hasTitle]="true"
  [hasHeroImg]="true"
  [hasCTA]="true"
  [isMobile]="true"
  [btnAttr]="'btn-start'"
  class="volunteering"
></app-section>
