<app-section
  [Title]="'Volunteer Training Scheme'"
  [Para1]="
    'We are going to be delivering and setting up a number of training camps to help equip our volunteers to deal with the daily pressures of advancing our organisational goals. We will publish a number of training dates and events shortly.  Please check back soon when we have updated this section! You can check out some of our resources and useful links in the mean time to see if there is any helpful information.'
  "
  [hasTitle]="true"
  [hasCTA]="true"
  [ctaURL]="'/resources'"
  [cta]="'Discover now'"
  [isMobile]="true"
  [btnAttr]="'btn-start'"
  class="training under-construction"
>

</app-section>
