/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300&family=Open+Sans&display=swap");

//vars
$cyan-process: #02b3e5ff;
$android-green: #90bf3bff;
$tea-green: #d5e6b2ff;
$non-photo-blue: #9ae8feff;
$cg-blue: #027fa2ff;
$sap-green: #5e7c27ff;
$davys-grey: #525252ff;
$cerulean-crayola: #1d9ecaff;
$apple-green: #96af3bff;
$pale-spring-bud: #d7e0b2ff;
$non-photo-blue: #a6dff2ff;
$teal-blue: #15708fff;
$dark-olive-green: #627227ff;
$davys-grey: #525252ff;

body {
  font-family: "Open Sans", sans-serif;
  //max-width: 100vw;
  //overflow: hidden;
  margin: 0;
  font-weight: 100;
  background-image: url("./assets/img/happy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}
.card {
  flex-direction: row;
  color: #19a5cc;
  .card-img {
    width: 30%;
    height: inherit;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &.friend-in-need {
      background-image: url("../src/assets/img/sisters.jpg");
    }
  }
}
.projects {
  margin-bottom: 3rem;
  app-tile {
    width: 300px;
  }
}
.btn {
  opacity: 0.85;
  &:hover {
    opacity: 1;
  }
  &.btn-primary {
    color: #fff;
    background-color: #19a5cc;
    border-color: #19a5cc;
  }
}
.btn-link{
  color: #30b3e4;

}
.vol-list {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  app-card {
    width: 30%;
    background-clip: border-box;
    border: 1px solid rgb(44 165 204);
    border-radius: 4px;
    .card {
      background-color: transparent;
      border: none;
      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .card-link {
          font-weight: 400;
          text-decoration: none;
          width: max-content;
          padding: 0.5em 1em;
          border-radius: 0.25em;
          cursor: pointer;
          color: white;
          border: 1px solid;
          opacity: 0.6;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
ngb-accordion.accordion {
  width: 100vw;
  .card {
    display: flex;
    flex-direction: column;
    border: none;
    .card-body {
      color: #0b7fa2;
      font-family: "Montserrat", sans-serif;
    }
    h4{
      font-size: 1rem;
      text-transform: uppercase;
    }
    .btn-link {
      color: #0b7fa2;
    }
  }
}

.volunteering{
  .btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 85%;
    //transform: translateY(-100px);
    a.btn-link {
      width: fit-content;
      padding: 12px;
      border: 1px solid;
      border-radius: 4px;
      &:hover{
        color: lighten(#0b7fa2, 40);
        text-decoration: none;
      }
    }
  }
}
