<app-section
  [Title]="'Why not help out'"
  [Para1]="
    'Do you have a passion for helping out others and need to put it to good use. At Family4Sure we could put your interests and talents to good use and train you to become a fully fledged volunteer in our growing organisation'
  "
  [cta]="'Find out more!'"
  [ctaURL]="'/volunteers/apply-to-volunteer'"
  [hasTitle]="true"
  [hasHeroImg]="true"
  [hasCTA]="true"
  [isMobile]="true"
  [btnAttr]="'btn-start'"
  class="volunteering"
>
  <div class="vol-list">
    <app-card
      [title]="'Training'"
      [description]="'We will be offering online Befriender training'"
      [cta]="'Enquire now!'"
      [ctaUrl]="'volunteer/training'"
      [cardClass]="'training'"
    ></app-card>

    <app-card
      [title]="'Ethos'"
      [description]="
        'Our service is volunteer led services and most of the volunteers will be from BAME background and speak an additional language.'
      "
      [cta]="'Find out more!'"
      [ctaUrl]="'volunteer/our-methods'"
      [cardClass]="'ethos'"
    ></app-card>

    <app-card
      [title]="'Safeguarding'"
      [description]="'All our volunteers will be DBS checked'"
      [cta]="'Get more info!'"
      [ctaUrl]="'volunteer/safeguarding'"
      [cardClass]="'safeguarding'"
    ></app-card>
  </div>
</app-section>
